.Login {
  background-image: url("../../public/LoginPage/LoginPage_Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 10px;
}

.InitialGrid {
}
