.Login {
  background-image: url("Components/LoginPage_Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 10px;
}

.TopGrid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.BottomGrid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.InputDiv {
  display: flex;
  justify-content: center;
}

img {
  justify-self: center;
}
